<div>
    <h1>Carrito de Compras</h1>


    <div>
        {{#each cart.products}}
        <div class='contenedor_productos'>



            
            <div id="" class='subcontenedor__carrito'>
                <img src={{this.product.thumbnail}} class='img_carrito' />
                <div class='detalles'>
                    <h3 class="carritoText">{{this.product.title}}</h3>
                    <p class="carritoText">Precio unitario: ${{this.product.price}}</p>


                </div>
                <div class='cambio_cant'>
                    <p>Cantidad: {{this.quantity}}</p>
                </div>
                
            </div>

        </div>
{{/each}}
      
    </div>



</div>