 <h1>Lista de Productos</h1>
<div class="productsContainer">
{{#each products}}
    <div class="cardProduct">
        <p class="title"> {{this.title}}</p>
        <p class="price">$ {{this.price}}</p>
        <p>Descripción: {{this.description}}</p>
    </div>
 {{/each}}

</div>