<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/{{{style}}}">
    <title>{{title}}</title>



</head>
<body>
<header>
    <nav>
       <a href="/home"><img class="logo" src="https://dami2123.github.io/Lunatic_Store/img/logonom.png" ></a> 
    </nav>
</header>
     
     {{{body}}}

     
     
</body>
</html>